body{
    background-color: #9f9f9f;
}
h4{
    font-size: 18px;
}
.bg-color{
    background-color: #562EFF;
}
.img-size{
    width: 40px;
}
.logo-text{
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
}
.title{
    color: #562EFF;
}
.blog-img{
    width: 180px;
}
.blog-text{
    font-size: 25px;
    font-weight: bold;
}













